img {
  max-width: 450px !important;
}

.navbar {
  transition: scroll 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.7;
}

.navbar-brand img {
  width: 3rem;
}

.header {
  background: url("../images/bg-image-1.jpg") left center no-repeat;
  background-size: cover;
  height: 70vh;
}

textarea {
  resize: none;
}

@media (max-width: 768px) {
  .header {
    background: none;
    background-color: #000;
  }
  .header p {
    max-width: 250px;
  }
  .stat {
    border-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
}
