.navbar {
  transition: scroll 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.7;
}

.navbar-brand img {
  width: 3rem;
}

.header {
  background: url("../images/bg-image-1.jpg") left center no-repeat;
  background-size: cover;
  height: 60vh;
}

.vertical-decoration {
  top: 12%;
  width: 24px;
}

@media (max-width: 768px) {
  .header {
    background: none;
    background-color: #000;
  }
  .header p {
    max-width: 250px;
  }
}
